@media screen and (max-width: 576px) {
    
    header{
        padding: 50px;
    }

    nav,
    .brand-container
    {
        flex-direction: column;
    }

    .nav-items{
        width: 60%;
        margin: 0 auto;
        font-size: 100px;
    }


    .banner-info{
        text-align: center;
    }

    .banner-container,
    .features
    {
        flex-direction: column-reverse;
    }

    .prebook-btn{
        width: 50%;
        margin: 0 auto;
    }

    /* .brand-container{
        width: 50%;
        margin: 0 auto;
    } */

    .brand-container{
        grid-template-columns: repeat(4, 1fr);
        /* justify-content: space-around; */
        /* width: 50%; */
        margin: 0 auto;
        gap: 10px;
     }

     .all-card-container{
        grid-template-columns: repeat(1, 1fr);
     }

     .features-info h1,
     .features-info p
     {
        text-align: center;
     }

     .join-btn{
        width: 50%;
        margin: 0 auto;
        margin-top: 15px;

     }
    
    
}


@media screen and (min-width: 576px) and (max-width: 960px) {
    
    nav
    {
        flex-direction: column;
    }

    .brand-container{
        grid-template-columns: repeat(4, 1fr);
    }

    .all-card-container{
        grid-template-columns: repeat(2, 1fr);
     }

     .features{
        gap: 15px;
     }


   
   
}